# Xmake cache
src/native/.xmake/
src/native/build/
.vscode/
compile_commands.json
imgui.ini
# MacOS Cache
.DS_Store
cmake-build-debug/
CMakeFiles
.idea/
vendor/
src/UI/openvoiceDesktop/bin/
src/UI/openvoiceDesktop/obj/